#one_pattern_content {
  padding: 0 40px 40px 40px;
}

.one_pattern_one_word {
  border: 1px solid #bab1b1;
  background: #eee;
  padding: 5px;
  margin-top: 40px;
}

.one_pattern_one_word ul{
}


.one_pattern_file {
    margin-top: 20px;
    border: 1px solid #bab1b1;
    background: #eee;
    padding: 5px;
}


.one_pattern_file li {
    list-style-type: none;
}

#one_pattern_file_content {
  border: 2px solid;
  margin: 0 60px 30px; 
  padding: 20px 5px;
  background: #fff;
}

#one_pattern_div legend strong {
  float: right;
  margin-right: 20px;
}

.one_pattern_file_comment {
	background: none repeat scroll 0 0 #EEEEEE;
	padding: 5px;
	border: 1px solid #BAB1B1;
	margin-top: 10px;
}

.one_pattern_file_comment_item {
   background: none repeat scroll 0 0 #FFFFFF;
   margin-bottom: 15px;
  padding: 3px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.one_pattern_file_comment_item pre{
  font-size: inherit;
  padding: 0px;
  margin: 0px;
}

dl {
	margin-bottom: 20px;
}
dl:before, dl:after {
	content: "";
	display: table;
	line-height: 0;
}
dl:before, dl:after {
	content: "";
	display: table;
	line-height: 0;
}
dl:after {
	clear: both;
}

dt, dd {
	line-height: 20px;
}
dt {
	font-weight: bold;
}
dl dt {
	clear: left;
	float: left;
	overflow: hidden;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 160px;
}


dt, dd {
	line-height: 20px;
}
dd {
	margin-left: 10px;
}
dl dd {
	margin-left: 180px;
}

.yaml_aa5500 {
	color: #221199;
}

.yaml_221199{
	color: #aa5500;
}

.yaml_116644 {
	color: #116644;
}
